.login-button {
    width: 321px;
    height: 45px;
    color: #ffffff;
    background-color: #0C8CFF;
    border-radius: 8px;
    border-color: #0C8CFF;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.login-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}