/* 전체 컨테이너 */
.splash-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* 로고 컨테이너 */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* 로고 이미지 */
.logo-image {
  width: 79px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* 텍스트 스타일 */
.splash-text {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
  text-align: center;
  line-height: 1.4;
  margin-top: 12px; /* 로고와 간격 */
}


/* 둥실둥실 애니메이션 */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-logo {
  animation: float 3.5s ease-in-out infinite;
}

/* 세로 모드에서의 최적화 */
@media (orientation: portrait) {
  .splash-container {
    min-height: 100%;
  }
}

/* 가로 모드에서의 최적화 */
@media (orientation: landscape) {
  .logo-container {
    padding: 0 40px;
  }
}
